sandbox/
.config/emacs/.cache
.config/emacs/elpa/gnupg
.config/emacs/elpa-28.1
.config/emacs/request
.config/emacs/transient
.config/emacs/var
.config/emacs/dict
.config/emacs/.mc-lists.el
.config/emacs/.org-id-locations
.config/emacs/.lsp-session-v1
.config/emacs/.dap-breakpoints
.config/emacs/machine-specific.el
.config/emacs/projectile-bookmarks.eld
.config/emacs/custom.el
.config/nvim/plugin
.config/nvim/tmp/undo
.config/lazygit/state.yml
.config/iterm2/AppSupport
.config/clash/
.config/flameshot/
.config/dmenu/*.o
.config/git/gitconfig.local.symlink
.config/vim/tmp/
.config/zsh/.zcompdump-*
.config/zsh/.zsh_history
vim.symlink/plugged/
vim.symlink/tmp/
vim.symlink/_machine_specific.vim
vim.symlink/session/
__pycache__/
