*
!alacritty
!aliyun
!arch
!backup
!bin
!dmenu
!docker
!emacs/init.el
!fcitx/config
!git
!i3
!i3blocks
!i3status
!lazygit/config.yml
!mbsync
!nvim
!picom
!ranger
!script
!wsl
!xmodmap
!zathura
!zsh
!.gitignore
!LICENSE
!README.md
!note.md
!xinitrc.symlink
