sandbox/
.config/clash/
.config/lazygit/
.config/flameshot/
.config/dmenu/*.o
.config/emacs/.*
.config/emacs/*.data
.config/emacs/custom.el
.config/emacs/elpa*/
.config/emacs/eclipse.jdt.ls/
.config/emacs/transient/
.config/emacs/var/
.config/emacs/workspace/
.config/fcitx/cached_layout
.config/fcitx/clipboard/
.config/fcitx/data/
.config/fcitx/dbus/
.config/fcitx/pinyin/
.config/fcitx/googlepinyin/
.config/fcitx/log/
.config/fcitx/profile
.config/git/gitconfig.local.symlink
.config/nvim/plugged/
.config/nvim/tmp/
.config/nvim/_machine_specific.vim
.config/nvim/session/
